/* Large and up */

.header {
    z-index: 15;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 100%;
    height: 4.2em;
    -webkit-transition: height 0.5s ease,
    background-color 0.5s ease;
    -moz-transition: height 0.5s ease,
    background-color 0.5s ease;
    -o-transition: height 0.5s ease,
    background-color 0.5s ease;
    transition: height 0.5s ease,
    background-color 0.5s ease;
}

.scrolled {
    transition: all 0.5s ease;
}

.header.scrolled {
    background-color: rgba(255, 255, 255, 0.95);
    height: 3em;
    transition: all 0.5s ease;
}

.header .navbar-brand img {
    height: 4.2em;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
}

.header.scrolled .navbar-brand img {
    height: 2.9em;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
}

.header ul li {
    font-size: 2em;
    -webkit-transition: font-size 0.5s ease;
    -moz-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
    transition: font-size 0.5s ease;
}

.header.scrolled ul li {
    font-size: 1.2em;
    -webkit-transition: font-size 0.5s ease;
    -moz-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
    transition: font-size 0.5s ease;
}


/* Small and medium */

@media screen and (max-width: 40em) {
    .header {
        background-color: rgba(255, 255, 255, 0.9);
        height: 3em;
    }
    .header .navbar-brand img {
        height: 3em;
    }
}

.m-nav {
    z-index: 14;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    height: calc(100vh - 3em);
    padding-top: 3.5em;
}

.responsive-menu-icon-line {
    width: 40px;
    height: 7px;
    background-color: #172B53;
    margin: 5px;
    border-radius: 2px;

    /* this determines animation speed */
    transition: all 0.5s ease;

}

/* classes to add for each animation */

.rotate-down {
    margin-bottom: -12px;

    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.rotate-up {
    margin-top: -12px;
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.disappear {
    opacity: 0;
}

/* grouping div for all bars */

.responsive-menu-icon {
    width: 60px;
    padding: 3px;
    margin-left: 85%;
    /* this determines animation speed */
    transition: all 0.5s ease;
}

.menu-up {
    padding-top: 15px;
}

.orbit {
    height: 100vh;
}

.orbit-container {
    height: 100vh;
}

.orbit-bullets {
    height: 3em;
    margin-top: -3em;
}

.orbit-image {
    height: 100vh;
    width: 100vw;
}

.slide {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    z-index: -3;
}

.slide div {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.slider-img1 {
    background-image: url(../img/slider/img-1.jpeg);
}

.slider-img2 {
    background-image: url(../img/slider/img-2.jpeg);
}


.pimg1,
.pimg5,
.pimg6 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    background-image: url(../img/slider/img-2.jpeg);
    min-height: 100vh;
}

.pimg2 {
    background-image: url(../img/bg-diagonal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.feature {
    min-height: 40vh;
    /*    border: 1px solid;*/
    margin: 1em auto;
    border-radius: 8px;
    text-align: center;
}

.feature > h5 {
    text-align: center;
    margin-bottom: 0;
}

.feature > p {
    padding: 0.5em;
}

.pimg5 {
    background-image: url(../img/img5.jpg);
    /*    min-height: 90vh;*/
    /*    opacity:     0.3;*/
}

.pimg6 {
    background-image: url(../img/img6.jpg);
}

.slogan {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 10vh;
    width: 50vw;
    z-index: 13;
}

.slogan > * {
    color: #fff;
    font-family: Comic Sans MS;
}

/*
.overlay {
    background: rgba(0, 0, 0, 0.6);
*/

/*    position: relative;*/

/*
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}
*/

/* ==================================================== */

.overlay-blue {
    background-color: rgba(23, 43, 83, 0.85);
    color: #fff;
}

.overlay-white {
    background-color: rgba(255, 255, 255, 0.95);
}

h3,
h4 {
    padding-top: 1.5em;
    margin-bottom: 1em;
}

/* ==================================================== */

#partners {
    background-color: #CCDBDC;
}

/* Small only */

@media screen and (max-width: 39.9375em) {
    .partner {
        margin: 0.5em auto;
    }
    #azure img {
        height: 8em;
        /*        min-width: 15em;*/
    }

    #neuroinnova img {
        height: 4em;
        /*        min-width: 10em;*/
    }

    #microsoft img {
        height: 5em;
        /*        min-width: 20em;*/
    }
}

/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    #azure img {
        height: 10em;
        /*        min-width: 15em;*/
    }

    #neuroinnova img {
        height: 7em;
        padding-top: 1.5em
        /*        min-width: 10em;*/
    }

    #microsoft img {
        height: 8em;
        padding-top: 1em;
        /*        min-width: 20em;*/
    }
}

/* Large and up */

@media screen and (min-width: 64em) {
    #azure img {
        height: 10em;
        min-width: 15em;
    }

    #neuroinnova img {
        height: 4em;
        margin-top: 3em;
        min-width: 10em;
    }

    #microsoft img {
        height: 4em;
        margin-top: 3em;
        min-width: 20em;
    }
}

/* ==================================================== */

#clients {
    background-color: #9AD1D4;
}

/* Small only */

@media screen and (max-width: 39.9375em) {
    #partners,
    #clients {
        padding-top: 1em;
        padding-bottom: 2em;
    }
}

/* Medium and up */

@media screen and (min-width: 40em) {
    #partners,
    #clients {
        padding-top: 1.5em;
        padding-bottom: 3em;
    }
}

#stimainvestment img {
    height: 8em;
    width: 15em;
}

#lgt img {
    height: 8em;
    width: 9em;
}

#prittworld img {
    height: 7em;
    width: 26em;
}

/* ==================================================== */

@media screen and (max-width: 39.9375em) {
    #contact {
        /*        padding: .5em;*/
    }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    #contact {
        /*        padding: 1em;*/
        /*    min-height: 75vh;*/
    }
}

@media screen and (min-width: 64em) {
    #contact {
        /*        padding: 2em;*/
        /*    min-height: 75vh;*/
    }
}

#contact > div {
    /*    margin: 2em;*/
}

.elevate {
    background: rgba(246, 246, 246, .95);
}

.contact-header {
    margin-top: 3em;
}

@media screen and (min-width: 40em) {
    .contact-left {
        margin: auto;
        padding: 1.5em;
        border-right: 1.5px dotted rgba(0, 0, 0, 0.3);
    }
}

#message-header {
    margin-bottom: 1em;
}

.fa-asterisk {
    font-size: 0.5em;
    color: #ec5840;
    vertical-align: text-top;
}

.cont {
    font-size: small;
}

#_gotcha {
    display: none;
}

.callout {
    border: none;
}

.form-error {
    margin-top: 0;
    margin-bottom: -1rem;
}

:focus {
    outline: none;
}

.cl {
    position: relative;
    margin-bottom: 2em;
}


/*necessary to give position: relative to parent. */

input,
textarea {
    color: #333;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

[type='text'],
[type='email'],
textarea,
.is-invalid-input {
    box-shadow: none;
}

[type='text']:focus,
[type='email']:focus,
textarea:focus,
.is-invalid-input:focus {
    border: none;
}

.effect-17 {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
    background-color: transparent;
}

.effect-17 ~ .focus-border {
    position: absolute;
    bottom: 2;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #3399FF;
    transition: 0.4s;
}

.is-invalid-input:not(:focus) {
    background-color: #f9eceaaa;
}

.effect-17.is-invalid-input ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #ec5840;
    transition: 0.4s;
}

.effect-17:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.effect-17 ~ label {
    position: absolute;
    width: 100%;
    top: 0.5em;
    color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    z-index: 0;
}

.effect-17:focus ~ label,
.has-content.effect-17 ~ label {
    top: -1.4em;
    color: #3399FF;
    transition: 0.3s;
}

.label.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* ======================================== */

.video-wrapper {
    position: relative;
}

.video-wrapper > video {
    width: 100%;
    vertical-align: middle;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}

.video-overlay-play-button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.5;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    /*    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));*/
    /*    background-image: linear-gradient(transparent, #000);*/
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms;
}

.video-overlay-play-button:hover {
    opacity: 1;
}

.video-overlay-play-button.is-hidden {
    display: none;
}

/* ==================================================== */

/* ==================================================== */

/* ==================================================== */

footer {
    min-height: 5em;
    background-color: #302B27;
    color: white;
    padding: 2em;
    font-size: 12px;
}

.gss_b {
    display: none;
}

@media screen and (max-width: 39.9375em) {
    footer {
        font-size: 13px;
        line-height: 2em;
        padding-bottom: 3em;
    }
}

/*
.gss .def {
    visibility: visible;
    opacity: 1;
}

.gss .def:hover {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;

}*/
